<?xml version='1.0' encoding='utf-8'?>
<robot name="assembly">
    <link name="base">
        <inertial>
            <mass value="0.02496" />
            <origin xyz="3.38813e-18 3.25782e-18 -0.46" rpy="0 -0 0" />
            <inertia ixx="0.00136115" ixy="0" ixz="0" iyy="0.00147181" iyz="0" izz="0.00017056" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Base.stl" scale="1 1 1" />
            </geometry>
            <material name="0.647059_0.647059_0.647059_0.000000_0.000000">
                <color rgba="0.647059 0.647059 0.647059 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Base.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="left_e1">
        <inertial>
            <mass value="0.00207775" />
            <origin xyz="8.32667e-17 0.00286547 -0.164964" rpy="0 -0 0" />
            <inertia ixx="2.29869e-05" ixy="0" ixz="0" iyy="2.30859e-05" iyz="1.84549e-07" izz="2.37836e-06" />
        </inertial>
        <visual>
            <origin xyz="-0.19958 2.34488e-17 0.07335" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Left_E1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.917647_0.917647_0.917647_0.000000_0.000000">
                <color rgba="0.917647 0.917647 0.917647 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="-0.19958 2.34488e-17 0.07335" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Left_E1.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="left_e2">
        <inertial>
            <mass value="0.000797087" />
            <origin xyz="-0.0256064 5.43634e-18 -0.072044" rpy="0 -0 0" />
            <inertia ixx="1.6018e-06" ixy="0" ixz="-4.30149e-07" iyy="1.91913e-06" iyz="0" izz="1.28652e-06" />
        </inertial>
        <visual>
            <origin xyz="-0.24187 0 0.362735" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Left_E2.stl" scale="1 1 1" />
            </geometry>
            <material name="0.768627_0.886275_0.952941_0.000000_0.000000">
                <color rgba="0.768627 0.886275 0.952941 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="-0.24187 0 0.362735" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Left_E2.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="left_gripper">
        <inertial>
            <mass value="0.00042575" />
            <origin xyz="2.77556e-17 -2.48688e-18 -0.0651013" rpy="0 -0 0" />
            <inertia ixx="7.39091e-07" ixy="0" ixz="0" iyy="7.8757e-07" iyz="0" izz="2.25874e-07" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Gripper_Body.stl" scale="1 1 1" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Gripper_Body.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="left_s2">
        <inertial>
            <mass value="0.00108759" />
            <origin xyz="0.0652231 1.83545e-17 3.47553e-16" rpy="0 -0 0" />
            <inertia ixx="1.66993e-06" ixy="0" ixz="0" iyy="2.13356e-06" iyz="0" izz="1.91562e-06" />
        </inertial>
        <visual>
            <origin xyz="-0.13 1.83545e-17 -4.58863e-18" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Left_S2.stl" scale="1 1 1" />
            </geometry>
            <material name="0.647059_0.647059_0.647059_0.000000_0.000000">
                <color rgba="0.647059 0.647059 0.647059 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="-0.13 1.83545e-17 -4.58863e-18" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Left_S2.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="left_s3">
        <inertial>
            <mass value="0.000265068" />
            <origin xyz="5.38752e-11 0.0115864 -0.0302711" rpy="0 -0 0" />
            <inertia ixx="5.7914e-07" ixy="0" ixz="0" iyy="6.01092e-07" iyz="1.60044e-07" izz="3.7865e-07" />
        </inertial>
        <visual>
            <origin xyz="-0.19958 0.04475 -3.81639e-16" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Left_S3.stl" scale="1 1 1" />
            </geometry>
            <material name="0.231373_0.380392_0.705882_0.000000_0.000000">
                <color rgba="0.231373 0.380392 0.705882 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="-0.19958 0.04475 -3.81639e-16" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Left_S3.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="left_w0">
        <inertial>
            <mass value="0.0005018" />
            <origin xyz="8.32667e-17 2.10999e-18 -0.0614121" rpy="0 -0 0" />
            <inertia ixx="9.85808e-07" ixy="0" ixz="0" iyy="8.60117e-07" iyz="0" izz="3.9447e-07" />
        </inertial>
        <visual>
            <origin xyz="-0.19958 0 0.487025" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Left_W0.stl" scale="1 1 1" />
            </geometry>
            <material name="0.972549_0.529412_0.003922_0.000000_0.000000">
                <color rgba="0.972549 0.529412 0.00392157 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="-0.19958 0 0.487025" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Left_W0.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="left_w1">
        <inertial>
            <mass value="0.000330643" />
            <origin xyz="1.38778e-16 0.0285 -0.0285" rpy="0 -0 0" />
            <inertia ixx="3.827e-07" ixy="0" ixz="0" iyy="3.827e-07" iyz="0" izz="1.69198e-07" />
        </inertial>
        <visual>
            <origin xyz="-0.19958 0.0285 0.622695" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Left_W1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="-0.19958 0.0285 0.622695" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Left_W1.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="left_w2">
        <inertial>
            <mass value="4.33287e-05" />
            <origin xyz="-0.0285 2.15986e-18 -0.0118233" rpy="0 -0 0" />
            <inertia ixx="2.50338e-08" ixy="0" ixz="0" iyy="4.74579e-08" iyz="0" izz="4.41594e-08" />
        </inertial>
        <visual>
            <origin xyz="-0.22808 0 0.679695" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Left_W2.stl" scale="1 1 1" />
            </geometry>
            <material name="0.980392_0.713725_0.003922_0.000000_0.000000">
                <color rgba="0.980392 0.713726 0.00392157 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="-0.22808 0 0.679695" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Left_W2.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="right_e1">
        <inertial>
            <mass value="0.00207775" />
            <origin xyz="-8.32667e-17 0.00286547 -0.164964" rpy="0 -0 0" />
            <inertia ixx="2.29869e-05" ixy="0" ixz="0" iyy="2.30859e-05" iyz="1.84549e-07" izz="2.37836e-06" />
        </inertial>
        <visual>
            <origin xyz="0.19958 2.34488e-17 0.07335" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Right_E1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.917647_0.917647_0.917647_0.000000_0.000000">
                <color rgba="0.917647 0.917647 0.917647 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0.19958 2.34488e-17 0.07335" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Right_E1.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="right_e2">
        <inertial>
            <mass value="0.000797087" />
            <origin xyz="0.0256064 5.19027e-18 -0.072044" rpy="0 -0 0" />
            <inertia ixx="1.6018e-06" ixy="0" ixz="4.30149e-07" iyy="1.91913e-06" iyz="0" izz="1.28652e-06" />
        </inertial>
        <visual>
            <origin xyz="0.24187 0 0.362735" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Right_E2.stl" scale="1 1 1" />
            </geometry>
            <material name="0.768627_0.886275_0.952941_0.000000_0.000000">
                <color rgba="0.768627 0.886275 0.952941 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0.24187 0 0.362735" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Right_E2.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="right_gripper">
        <inertial>
            <mass value="0.00042575" />
            <origin xyz="-2.77556e-17 -1.49213e-18 -0.0651013" rpy="0 -0 0" />
            <inertia ixx="7.39091e-07" ixy="0" ixz="0" iyy="7.8757e-07" iyz="0" izz="2.25874e-07" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Gripper_Body.stl" scale="1 1 1" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Gripper_Body.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="right_s2">
        <inertial>
            <mass value="0.00108759" />
            <origin xyz="-0.0652231 2.14698e-17 3.48478e-16" rpy="0 -0 0" />
            <inertia ixx="1.66993e-06" ixy="0" ixz="0" iyy="2.13356e-06" iyz="0" izz="1.91562e-06" />
        </inertial>
        <visual>
            <origin xyz="0.13 1.83545e-17 -4.58863e-18" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Right_S2.stl" scale="1 1 1" />
            </geometry>
            <material name="0.647059_0.647059_0.647059_0.000000_0.000000">
                <color rgba="0.647059 0.647059 0.647059 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0.13 1.83545e-17 -4.58863e-18" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Right_S2.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="right_s3">
        <inertial>
            <mass value="0.000265068" />
            <origin xyz="-8.34369e-11 0.0115864 -0.0302711" rpy="0 -0 0" />
            <inertia ixx="5.7914e-07" ixy="1.34483e-15" ixz="0" iyy="6.01092e-07" iyz="1.60044e-07" izz="3.7865e-07" />
        </inertial>
        <visual>
            <origin xyz="0.19958 0.04475 -3.81639e-16" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Right_S3.stl" scale="1 1 1" />
            </geometry>
            <material name="0.231373_0.380392_0.705882_0.000000_0.000000">
                <color rgba="0.231373 0.380392 0.705882 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0.19958 0.04475 -3.81639e-16" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Right_S3.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="right_w0">
        <inertial>
            <mass value="0.0005018" />
            <origin xyz="-8.32667e-17 1.05499e-18 -0.0614121" rpy="0 -0 0" />
            <inertia ixx="9.85808e-07" ixy="0" ixz="0" iyy="8.60117e-07" iyz="0" izz="3.9447e-07" />
        </inertial>
        <visual>
            <origin xyz="-0.19958 0 0.487025" rpy="0 0 3.14159" />
            <geometry>
                <mesh filename="package://assembly/meshes/Right_W0.stl" scale="1 1 1" />
            </geometry>
            <material name="0.972549_0.529412_0.003922_0.000000_0.000000">
                <color rgba="0.972549 0.529412 0.00392157 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="-0.19958 0 0.487025" rpy="0 0 3.14159" />
            <geometry>
                <mesh filename="package://assembly/meshes/Right_W0.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="right_w1">
        <inertial>
            <mass value="0.000330643" />
            <origin xyz="-1.38778e-16 -0.0285 -0.0285" rpy="0 -0 0" />
            <inertia ixx="3.827e-07" ixy="0" ixz="0" iyy="3.827e-07" iyz="0" izz="1.69198e-07" />
        </inertial>
        <visual>
            <origin xyz="-0.19958 -0.0285 0.622695" rpy="0 0 3.14159" />
            <geometry>
                <mesh filename="package://assembly/meshes/Right_W1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="-0.19958 -0.0285 0.622695" rpy="0 0 3.14159" />
            <geometry>
                <mesh filename="package://assembly/meshes/Right_W1.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="right_w2">
        <inertial>
            <mass value="4.33287e-05" />
            <origin xyz="0.0285 1.20012e-18 -0.0118233" rpy="0 -0 0" />
            <inertia ixx="2.50338e-08" ixy="0" ixz="0" iyy="4.74579e-08" iyz="0" izz="4.41594e-08" />
        </inertial>
        <visual>
            <origin xyz="0.22808 0 0.679695" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Right_W2.stl" scale="1 1 1" />
            </geometry>
            <material name="0.980392_0.713725_0.003922_0.000000_0.000000">
                <color rgba="0.980392 0.713726 0.00392157 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0.22808 0 0.679695" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Right_W2.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="root" />
    <link name="s1">
        <inertial>
            <mass value="0.003744" />
            <origin xyz="1.48412e-17 1.8099e-18 0.06" rpy="0 -0 0" />
            <inertia ixx="8.9856e-06" ixy="0" ixz="0" iyy="2.5584e-05" iyz="0" izz="2.5584e-05" />
        </inertial>
        <visual>
            <origin xyz="2.78001e-17 0 0.06" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/S1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.615686_0.811765_0.929412_0.000000_0.000000">
                <color rgba="0.615686 0.811765 0.929412 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="2.78001e-17 0 0.06" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/S1.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="base_0" type="fixed">
        <origin xyz="-2.79001e-17 6.93889e-18 -0.06" rpy="0 -1.06752e-16 0" />
        <axis xyz="1.06752e-16 0 1" />
        <parent link="base" />
        <child link="s1" />
    </joint>
    <joint name="fixed_node_to_root_joint_0" type="fixed">
        <origin xyz="-2.77556e-17 -6.93889e-18 0.86" rpy="0 -0 0" />
        <axis xyz="0 0 1" />
        <parent link="root" />
        <child link="base" />
    </joint>
    <joint name="left_e1_0" type="revolute">
        <origin xyz="0.04229 1.56381e-16 -0.289385" rpy="1.11022e-16 -4.93529e-16 -6.92805e-17" />
        <axis xyz="-1 0 2.98117e-16" />
        <parent link="left_e1" />
        <child link="left_e2" />
        <limit lower="0.0" upper="2.6180" velocity="30.0" effort="87.0" />
    </joint>
    <joint name="left_e2_0" type="revolute">
        <origin xyz="-0.04229 -1.48698e-17 -0.12429" rpy="-8.32667e-17 -6.33174e-17 7.22079e-17" />
        <axis xyz="0 0 1" />
        <parent link="left_e2" />
        <child link="left_w0" />
        <limit lower="-2.3562" upper="2.3562" velocity="30.0" effort="87.0" />
    </joint>
    <joint name="left_gripper_0" type="fixed">
        <origin xyz="-0.0285 -7.09742e-18 -0.032251" rpy="9.71445e-17 -2.22045e-16 2.77556e-17" />
        <axis xyz="0 0 1" />
        <parent link="left_w2" />
        <child link="left_gripper" />
    </joint>
    <joint name="left_s1_0" type="revolute">
        <origin xyz="0.13 9.40122e-18 0.06" rpy="2.77556e-17 -1.02798e-15 1.32751e-21" />
        <axis xyz="-1 0 0" />
        <parent link="s1" />
        <child link="left_s2" />
        <limit lower="-1.5708" upper="3.1416" velocity="30.0" effort="87.0" />
    </joint>
    <joint name="left_s2_0" type="revolute">
        <origin xyz="0.06958 -0.04475 4.44089e-16" rpy="2.498e-16 3.92274e-16 -2.48934e-16" />
        <axis xyz="0 1 0" />
        <parent link="left_s2" />
        <child link="left_s3" />
        <limit lower="-3.1416" upper="0.3491" velocity="30.0" effort="87.0" />
    </joint>
    <joint name="left_s3_0" type="revolute">
        <origin xyz="-1.91513e-15 0.04475 -0.07335" rpy="3.33067e-16 -1.05818e-16 -2.03288e-16" />
        <axis xyz="0 0 1" />
        <parent link="left_s3" />
        <child link="left_e1" />
        <limit lower="-2.3562" upper="2.3562" velocity="30.0" effort="87.0" />
    </joint>
    <joint name="left_w1_0" type="revolute">
        <origin xyz="-5.55112e-17 -0.0285 -0.13567" rpy="-4.71845e-16 3.45904e-15 -1.18829e-15" />
        <axis xyz="0 -1 0" />
        <parent link="left_w0" />
        <child link="left_w1" />
        <limit lower="-1.5708" upper="1.5708" velocity="30.0" effort="87.0" />
    </joint>
    <joint name="left_w2_0" type="revolute">
        <origin xyz="0.0285 0.0285 -0.057" rpy="3.4972e-15 -8.32667e-17 -9.70669e-32" />
        <axis xyz="-1 0 0" />
        <parent link="left_w1" />
        <child link="left_w2" />
        <limit lower="-1.5708" upper="1.5708" velocity="30.0" effort="87.0" />
    </joint>
    <joint name="right_e1_0" type="revolute">
        <origin xyz="-0.04229 1.47751e-17 -0.289385" rpy="1.07561e-45 7.39557e-32 1.84889e-32" />
        <axis xyz="1 0 2.98117e-16" />
        <parent link="right_e1" />
        <child link="right_e2" />
        <limit lower="-2.6180" upper="0.0" velocity="30.0" effort="87.0" />
    </joint>
    <joint name="right_e2_0" type="revolute">
        <origin xyz="0.04229 -5.37817e-17 -0.12429" rpy="7.66335e-47 -2.46519e-32 3.14159" />
        <axis xyz="0 0 1" />
        <parent link="right_e2" />
        <child link="right_w0" />
        <limit lower="-2.3562" upper="2.3562" velocity="30.0" effort="87.0" />
    </joint>
    <joint name="right_gripper_0" type="fixed">
        <origin xyz="0.0285 -7.09742e-18 -0.032251" rpy="0 -0 0" />
        <axis xyz="0 0 1" />
        <parent link="right_w2" />
        <child link="right_gripper" />
    </joint>
    <joint name="right_s1_0" type="revolute">
        <origin xyz="-0.13 2.46215e-18 0.06" rpy="-4.76873e-49 -2.31296e-16 7.65788e-33" />
        <axis xyz="1 0 0" />
        <parent link="s1" />
        <child link="right_s2" />
        <limit lower="-3.1416" upper="1.5708" velocity="30.0" effort="87.0" />
    </joint>
    <joint name="right_s2_0" type="revolute">
        <origin xyz="-0.06958 -0.04475 4.44089e-16" rpy="-1.28654e-32 -9.17877e-18 -7.824e-17" />
        <axis xyz="0 1 0" />
        <parent link="right_s2" />
        <child link="right_s3" />
        <limit lower="-0.3491" upper="3.1416" velocity="30.0" effort="87.0" />
    </joint>
    <joint name="right_s3_0" type="revolute">
        <origin xyz="3.88578e-16 0.04475 -0.07335" rpy="-1.08655e-45 -1.28919e-43 -6.16298e-33" />
        <axis xyz="0 0 1" />
        <parent link="right_s3" />
        <child link="right_e1" />
        <limit lower="-2.3562" upper="2.3562" velocity="30.0" effort="87.0" />
    </joint>
    <joint name="right_w1_0" type="revolute">
        <origin xyz="1.11022e-16 0.0285 -0.13567" rpy="1.09476e-47 2.55312e-94 -4.66423e-47" />
        <axis xyz="0 1 0" />
        <parent link="right_w0" />
        <child link="right_w1" />
        <limit lower="-1.5708" upper="1.5708" velocity="30.0" effort="87.0" />
    </joint>
    <joint name="right_w2_0" type="revolute">
        <origin xyz="0.0285 -0.0285 -0.057" rpy="-3.73315e-45 -4.43734e-31 3.14159" />
        <axis xyz="1 0 0" />
        <parent link="right_w1" />
        <child link="right_w2" />
        <limit lower="-1.5708" upper="1.5708" velocity="30.0" effort="87.0" />
    </joint>
    <link name="left_jaw_a">
        <inertial>
            <origin xyz="0 0 -0.105" rpy="0 0 0" />
            <mass value="0.05" />
            <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Jaw_A.stl" scale="1 1 1" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Jaw_A.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="left_jaw_a_0" type="prismatic">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="left_gripper" />
        <child link="left_jaw_a" />
        <axis xyz="-1 0 0" />
        <limit lower="0" upper="0.036155" effort="50" velocity="0.1" />
    </joint>
    <link name="left_jaw_b">
        <inertial>
            <origin xyz="0 0 -0.105" rpy="0 0 0" />
            <mass value="0.05" />
            <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Jaw_B.stl" scale="1 1 1" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Jaw_B.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="left_jaw_b_0" type="prismatic">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="left_gripper" />
        <child link="left_jaw_b" />
        <axis xyz="+1 0 0" />
        <limit lower="0" upper="0.036155" effort="50" velocity="0.1" />
    </joint>
    <link name="right_jaw_a">
        <inertial>
            <origin xyz="0 0 -0.105" rpy="0 0 0" />
            <mass value="0.05" />
            <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Jaw_A.stl" scale="1 1 1" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Jaw_A.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="right_jaw_a_0" type="prismatic">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="right_gripper" />
        <child link="right_jaw_a" />
        <axis xyz="-1 0 0" />
        <limit lower="0" upper="0.036155" effort="50" velocity="0.1" />
    </joint>
    <link name="right_jaw_b">
        <inertial>
            <origin xyz="0 0 -0.105" rpy="0 0 0" />
            <mass value="0.05" />
            <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Jaw_B.stl" scale="1 1 1" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://assembly/meshes/Jaw_B.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="right_jaw_b_0" type="prismatic">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="right_gripper" />
        <child link="right_jaw_b" />
        <axis xyz="+1 0 0" />
        <limit lower="0" upper="0.036155" effort="50" velocity="0.1" />
    </joint>
</robot>